@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: white;
}

.title {
  font-size: 64px;
  line-height: 75px;
}

.subtitle {
  font-synthesis: 32px;
  line-height: 37px;
}