.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

  .navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 27px;
  }